.app-wrapper{
    display: grid;
    grid-template-rows:60px 1fr ;
    grid-template-columns: 2fr  10fr;
    grid-gap:3px;
    grid-template-areas: 
    "h h" " n c";
    box-shadow: 1px 1px 15px 1px;
}
body{
    background: #205660;
}



